.main-navigation {
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			flex-flow: column;
			border-top: 1px solid rgba(255, 255, 255, 0);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				background-color: $color__brand-dark-grey;
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}

				&:hover{
					.menu-item-icon{
						svg{
							path{
								fill: $color__brand-dark-grey;
							}
						}
					}
				}
			}

			a {
				width: 200px;
				color: $color__brand-white;
			}

			:hover > a,
			.focus > a {
				background-color: $color__brand-white;
				color: $color__brand-dark-grey;
			}

			a:hover,
			a.focus {
			}

			.menu-item-icon{
				margin-right: 5px;
				svg{
					path{
						fill: $color__brand-white;
					}
				}
			}

			.menu-item-description{
				display: inline-block;
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
			color: $color__brand-white;
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 30px 24px;
		color: $color__brand-light-grey;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

.dropdown-toggle{
	&::after {
		content: "";
		display: inline-block;
		border: solid $color__brand-light-grey;
		border-width: 0 1px 1px 0;
		padding: 2px;
		margin-right: 0.25rem;
		margin-left: .75rem;
		vertical-align: 0.175em;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}

	&:hover{
		&::after{
			border-color: $color__brand-white;
		}
	}
}
  