a {
	color: inherit;
	text-decoration: none;

	&:visited {
		color: inherit;
	}

	&:hover,
	&:focus,
	&:active {
		color: inherit;
	}

	&:focus {
		outline: none;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
