.site-footer-top{
    .site-branding-icon, .footer-social-networks{
        margin-bottom: 48px;
    }    
}

@include media-breakpoint-up(lg) {
    .footer-social-networks{
        ul{
            li{
                margin-right: 48px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}