.site-header{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(250px);
    padding-top: 0;
    padding-bottom: 0;
    .site-header-inner{
        max-width: 1536px;
    }
}

@include media-breakpoint-up(md) {
    .site-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}
  